<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create new rental contract</title>
</head>
<body>
<h1>Create new rental contract</h1>
<hr>
<form action="/createNewRentalContractAction" method="post">
    <td>Customer ID</td><td><input type="text" name="customerId"></td>
    <td>Car ID</td><td><input type="text" name="carId"></td>
    <td>Start date</td><td><input type="date" name="startDate"></td>
    <td>End date</td><td><input type="date" name="endDate"></td>
    <td>Price</td><td><input type="text" name="price"></td>
    <td>Pick up location</td><td><input type="text" name="pickUpLocation"></td>
    <td>Condition on delivery</td><td><input type="text" name="conditionOnDelivery"></td>
    <input type="hidden" name="conditionUponReturn" value="to be determined"> <!-- Fast værdi da vi først kan tilføje data når bilen bliver returneret -->
    <input type="hidden" name="employeeUserId" th:value="${employeeUserId}"> <!-- så man kan redirect -->
    <button type="submit">Submit</button>
</form>
</body>
</html>