<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Confirm delete</title>
    <link rel="stylesheet" type="text/css" href="/deleteCustomerConfirm.css">
</head>
<body>
<h1>Are you sure you want to delete this customer?</h1>
<table>
    <thead>
    <tr>
        <th>Customer ID</th>
        <th>Name</th>
        <th>Address</th>
        <th>Number</th>
        <th>E-mail</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td th:text="${customer.customerId}"></td>
        <td th:text="${customer.name}"></td>
        <td th:text="${customer.address}"></td>
        <td th:text="${customer.number}"></td>
        <td th:text="${customer.email}"></td>
        <td>
            <form action="/deleteCustomerAction" method="post" class="form-inline">
                <input type="hidden" name="customerId" th:value="${customer.customerId}">
                <input type="hidden" name="employeeUserId" th:value="${employeeUserId}">
                <button type="submit">Delete customer</button>
            </form>
            <form action="/deleteCustomer" method="get" class="form-inline">
                <input type="hidden" name="employeeUserId" th:value="${employeeUserId}">
                <button type="submit">Cancel</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>
