<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Confirm delete</title>
    <link rel="stylesheet" type="text/css" href="/deleteCustomerConfirm.css">
</head>
<body>
<h1>Are you sure you want to delete this rental contract?</h1>
<table>
    <thead>
    <tr>
        <th>Rental contract ID</th>
        <th>Customer ID</th>
        <th>Car ID</th>
        <th>Start date</th>
        <th>End date</th>
        <th>Price</th>
        <th>Pick up location</th>
        <th>Condition on delivery</th>
        <th>Condition upon return</th>
        <th>Is rental contract ended?</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td th:text="${rentalContract.rentalContractId}"></td>
        <td th:text="${rentalContract.customerId}"></td>
        <td th:text="${rentalContract.carId}"></td>
        <td th:text="${rentalContract.startDate}"></td>
        <td th:text="${rentalContract.endDate}"></td>
        <td th:text="${rentalContract.price}"></td>
        <td th:text="${rentalContract.pickUpLocation}"></td>
        <td th:text="${rentalContract.conditionOnDelivery}"></td>
        <td th:text="${rentalContract.conditionUponReturn}"></td>
        <td th:text="${rentalContract.isRentalContractEnded}"></td>
        <td>
            <form action="/deleteRentalContractAction" method="post" class="form-inline">
                <input type="hidden" name="rentalContractId" th:value="${rentalContract.rentalContractId}">
                <input type="hidden" name="employeeUserId" th:value="${employeeUserId}">
                <input type="hidden" name="carId" th:value="${rentalContract.carId}">
                <button type="submit">Delete rental contract</button>
            </form>
            <form action="/deleteRentalContract" method="get" class="form-inline">
                <input type="hidden" name="employeeUserId" th:value="${employeeUserId}">
                <button type="submit">Cancel</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>
